//Delete
h3 Delete
h4 Are you sure you want to delete this?
p.text-muted Person
hr
p #[strong First] Someone
p #[strong Last] Else
hr
a.btn.btn-primary.text-white.mr-2 delete
a.border-left.pl-2(href="http://localhost:3000/list.html") Back to List