//Form Create
form
	.form-group
		label Title
		input.form-control(type="text",placeholder="Title")
	.form-group
		label Autor
		input.form-control(type="text",placeholder="Autor")
	.form-group
		label Description
		textarea#trumbowyg-demo.form-control(rows="3",placeholder="Balabala", autofocus)
	button.btn.btn-primary(type="submit") Guardar 
