section.suscripcion
          .input-group.py-0
            input.form-control(type='text', placeholder="Search", aria-label="Recipient's username", aria-describedby='basic-addon2')
            .input-group-append
              button.btn.btn-outline-success(type='button') Search